<h1>Popular Opinions</h1>

<ul>
  <% @opinions.each do |o| %>
    <hr>
    <h3>"<%= o.item %> is the best <%= o.category %> <%= o.category %> <%= o.field %>."</h3>
    <h5><%= link_to 'agree', "opinions/#{o.id}/upvote" %></h5>
    <h5>Vote Score: <%= o.votes.where({sentiment: true}).count - o.votes.where({sentiment: false}).count %></h5>
    <h5> <%= link_to 'disagree', "opinions/#{o.id}/downvote" %></h5>
  <% end %>
</ul>


<p>Find me in app/views/opinions/index.html.erb</p>
