<% if params[:search] %>
  <h1><%= "best #{params[:search]}" %></h1>
  <% if flash[:alert] %>
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Oh no!</strong> <%= flash[:alert] %>
  </div>
  <% end %>
  <%else%>
  <h1>Popular Feed</h1>
<% end %>

<% @opinions.each do |o| %>

<div class="row opinion-box">
  <div class="col-xs-2">
    <% unless logged_in? && current_user.id == o.user_id %>
      <h5><%= link_to '<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>'.html_safe, "/opinions/#{o.id}/upvote", class: 'btn btn-success btn-xs' %></h5>
    <% end %>
    <h5> <%= o.score %> </h5>
    <% unless logged_in? && current_user.id == o.user_id %>
      <h5> <%= link_to '<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>'.html_safe, "/opinions/#{o.id}/downvote", class: 'btn btn-danger btn-xs' %></h5>
    <% end %>
    <% if logged_in? && current_user.id == o.user_id %>
      <h5> remove <%= link_to '[x]', "/opinions/#{o.id}/delete"%></h5>
    <% end %>
  </div>
  <div class="col-xs-10">
    <h3>"<%= o.item %> is the best <%= o.category %> <%= o.prep %> <%= o.field %>."</h3>
  </div>

</div>
<br>
<% end %>


<p>Find me in app/views/opinions/index.html.erb</p>
