<h1>What's the bestest?</h1>

<%= form_for @opinion, :html => {class: 'new_user form-inline'} do |f| %>

    <fieldset>
        <div class="form-group">
            <div class="col-md-4">
                <%= f.text_field :item, class: 'form-control', autofocus: true, placeholder: 'Bestest'%>
            </div>
        </div>
        is the best
        <div class="form-group">
            <div class="col-md-4">
                <%= f.text_field :category, class: 'form-control', placeholder: 'website'%>
            </div>
        </div>
        in
        <div class="form-group">
            <div class="col-md-4">
                <%= f.text_field :field, class: 'form-control', placeholder: 'the world' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <%= f.submit 'Submit', class: 'btn btn-success' %>
            </div>
        </div>
    </fieldset>
<% end %>

<ul>
  <% @opinions.each do |o| %>
    <hr>
    <h3>"<%= o.item %> is the best <%= o.category %> in <%= o.field %>."</h3>
    <h5><%= link_to 'agree', "opinions/#{o.id}/upvote" %></h5>
    <h5> Raw Score: <%=o.upvotes%> </h5>
    <h5> <%= link_to 'disagree', "opinions/#{o.id}/downvote" %></h5>
  <% end %>
</ul>

<p>Find me in app/views/opinions/new.html.erb</p>
