<h1>What's the bestest?</h1>

<%= form_for @opinion, :html => {class: 'new_user form-inline'} do |f| %>

    <fieldset>
        <div class="form-group">
            <div class="col-md-3">
                <%= f.text_field :item, class: 'form-control', autofocus: true, placeholder: 'Bestest', required: 'true'%>
            </div>
        </div>
        is the best
        <div class="form-group">
            <div class="col-md-3">
                <%= f.text_field :category, class: 'form-control', placeholder: 'website', required: 'true'%>
            </div>
        </div>

        <div class="form-group">
          <%= f.select(:prep, options_for_select([['in', 'in'], ['at', 'at'], ['of', 'of'], ['on', 'on'], ['for', 'for']], "in"), {}, {required: 'true', autofocus: 'true', class: 'form-control'})%>
      </div>

        <div class="form-group">
            <div class="col-md-3">
                <%= f.text_field :field, class: 'form-control', placeholder: 'the world', required: 'true' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-4">
                <%= f.submit 'Tell Everyone', class: 'btn btn-success' %>
            </div>
        </div>
    </fieldset>
<% end %>

<h2>bestest feed</h2>


  <% @opinions.each do |o| %>
  <div class="col-md-10">
    <hr>
    <div class="col-md-11 pull-right">
      <h3>"<%= o.item %> is the best <%= o.category %> <%= o.prep %> <%= o.field %>."</h3>
    </div>
    <div class="col-md-1 pull-left">
      <h5><%= link_to '+', "#{o.id}/upvote", class: 'btn btn-success btn-xs' %></h5>
      <h5> <%= o.score %> </h5>
      <h5> <%= link_to '-', "#{o.id}/downvote", class: 'btn btn-danger btn-xs' %></h5>
      <h5> remove <%= link_to '[x]', "#{o.id}/delete"%></h5>
    </div>
  </div>
  <% end %>
