<h1>Opinions#show</h1>

<hr>
<h3>"<%= @opinion.item %> is the best <%= @opinion.category %> <%= @opinion.prep %> <%= @opinion.field %>."</h3>
<h5><%= link_to 'agree', "opinions/#{o.id}/upvote" %></h5>
<h5> Raw Score: <%=@opinion.upvotes%> </h5>
<h5> <%= link_to 'disagree', "opinions/#{o.id}/downvote" %></h5>

<p>Find me in app/views/opinions/show.html.erb</p>
