<div>
  <h1><%= @user.name %>'s Bests</h1>
  <%= image_tag @user.photo.url(:thumb) %>
  <h3>Cred: <%= @user.cred %></h3>
</div>

<br>

<% @user_opinions.each do |o| %>
  <div class="opinion-box">
  <h3>"<%= o.item %> is the best <%= o.category %> <%= o.prep%> <%= o.field %>."</h3>
  <h4> Current Cred: <%=o.score%> </h4>
  <% if logged_in? && current_user.id == o.user_id %>
    <h5> Delete <%= link_to '[x]', "#{o.id}/delete"%></h5>
  <% end %>
  </div>
  <br>
<% end %>
