<!DOCTYPE html>
<html>
<head>
  <title>Bestest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
</head>

  <body>


    <%= render "layouts/navbar" %>

    <div class="container">

      <%= yield %>

    </div>

  </body>
  <footer class="text-center col-md-10"> developed by <a href="https://github.com/alexkarevoll"> alex k</a> at <a href="https://generalassemb.ly/">ga</a> in la</footer>

</html>
